[Unit]
Description=LibreTranslate WSGI with Gunicorn and Nginx
After=network.target

[Service]
User=libretranslate
Group=www-data
WorkingDirectory=/home/libretranslate/LibreTranslate
Environment="PATH=/home/libretranslate/LibreTranslate/env/bin"
ExecStart=/home/libretranslate/LibreTranslate/env/bin/gunicorn --workers 3 --bind unix:libretranslate.sock -m 007 wsgi:app
EnvironmentFile=/home/libretranslate/LibreTranslate-init/.env
Restart=always
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=1

[Install]
WantedBy=multi-user.target
